body {
  background-color: whitesmoke;
}
.thumbnail {
  background-image: url('./assets/thumbnail.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(90.6vh);
  opacity: 0.9;
}
.banner {
  background-color: #00175a;
}
.banner-subtitle {
  font-size: 20px;
  color: gainsboro;
}
.nav-link.active {
  font-weight: bold;
  color: var(--bs-primary-text-emphasis) !important;
  background-color: rgb(205, 204, 204);
  border-radius: 5px;
}